<eext1>
  <eext2>
    <div id="error_explanation">
      <h2><eext3 /> prohibited this product from being saved:</h2>

      <ul>
        <eext4>
          <li><eext5 /></li>
        </eext4>
      </ul>
    </div>
  </eext2>

  <div class="field">
    <eext6 />
    <eext7 />
  </div>

  <div class="field">
    <eext8 />
    <eext9 />
  </div>

  <div class="field">
    <eext10 />
    <eext11 />
  </div>

  <div class="actions">
    <eext12 />
  </div>
</eext1>
