<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <eext1 />
    <eext2 />
    <eext3 />
    <eext4 />
    <eext5 />
  </head>

  <body>
    <eext6 />
  </body>
</html>
